.row{
    padding: 20px;
}
p{
    color: aliceblue;
}
h1{
    color: #9fabeb;
}
h2{
    color: #40486d;
}
h3{
    color: #ffffff;
}
ul{
    color: #40486d
}
div{
    background: #161c3a;
}
h1,h2, h3{
    display: inline;
}